/* recommend/style/recommend.css */
.recommend-head {
    height: 300px;
}
/* 추천입력 페이지 */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.question {
    text-align: center;
    font-size: 2rem;
    margin: 30px auto;
    font-family: "Black Han Sans";
}
.checkboxes {
    display: flex;
    justify-content: center;
}
#genres {
    height: 300px;
    margin: auto;
    overflow: scroll;
    flex-wrap: wrap;
}
#genres::-webkit-scrollbar {
    display: none;
}
label span {
    display: inline-block;
    background: white;
    border: 2px solid #ffc700;
    padding: 5px 15px;
    margin: 10px 10px;
    color: black;
    border-radius: 30px;
    font-size: 1.5rem;
    transition: 0.5s;
}
input[type="checkbox"]:checked ~ span {
    background-color: #ffc700;
    color: black;
}
input[type="checkbox"] {
    display: none;
}
.input-btns {
    width: 500px;
    margin: 20px;
}

/* 추천목록 페이지 */
table {
    border-collapse: collapse;
    width: 90%;
    text-align: center;
}
th {
    padding: 4px;
}
tr {
    border-bottom: 2px solid #e9e9e9;
    height: 38px;
}
td {
    padding: 5px;
}
.click-tr {
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.click-tr:hover {
    transition: all;
    transition-duration: 100ms;
    transition-timing-function: ease-in-out;

    transform: scale(101%);
}
.desc {
    font-size: 1.5rem;
    font-family: "Black Han Sans";
}

/* 추천 디테일 페이지 */
.detail {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10%;
    margin-bottom: 30px;
}
.detail-desc {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}
.detail-btns {
    width: 300px;
    margin: 10px;
}
.del {
    background-color: #ff5c00;
}
.title-desc {
    font-family: "Black Han Sans";
    font-size: 2rem;
    text-align: center;
    margin-bottom: 10px;
}
.title {
    font-family: "Black Han Sans";
    font-size: 3rem;
    text-align: center;
    margin: 10px auto;
}
img {
    width: 400px;
}
