.movieinfo-content-head {
	justify-content: start;
	align-items: start;
	padding: 50px;
	height: 600px;
	min-width: 700px;
	flex-grow: 1;
	flex-shrink: 0;
}

.content-body {
	padding: 50px;
}

#movie-title {
	width: 80%;
	min-width: 500px;
	height: 64px;
	font-size: 44px;
	align-self: start;
	justify-content: start;
	padding: 5px;
}

.movieinfo-area {
	display: flex;
	flex-direction: row;
	width: 100%;
	gap: 30px;
}

.movie-poster {
	width: 160px;
	height: 227px;
	background-color: #d9d9d9;
	flex-shrink: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 12px;
}

.movie-poster img {
	width: 100%;
	height: 100%;
}

.movie-text {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	font-size: 20px;
	gap: 12px;
	height: 310px;
	overflow-y: auto;
}

.info {
	display: flex;
	flex-direction: row;
	gap: 4px;

	padding-bottom: 4px;
	border-bottom: 2px solid #e9e9e9;
}

.util {
	width: 100px;
	height: 30px;
	font-size: 16px;
	font-family: "Black Han Sans";
	font-weight: 100;
	background-color: #ffefb5;
}

.bullet {
	width: 10px;
	height: 10px;
	background-color: #ffc700;
	border-radius: 10px;
	margin-right: 6px;
}

.info-title {
	width: 120px;
	flex-shrink: 0;
	display: flex;
	flex-direction: row;
	gap: 4px;
}

.info-content {
	display: flex;
	flex-grow: 1;
	flex-direction: row;
	flex-wrap: wrap;
}

.movieinfo-content-body {
	min-width: 700px;
	justify-content: start;
	align-items: start;
	display: flex;
	flex-direction: column;
}

.video-area {
	width: 100%;
	height: 500px;

	display: flex;
	justify-content: center;
	align-items: center;
}

.vod {
	width: 711px;
	height: 400px;
	background-color: #d9d9d9;
	display: flex;
	justify-content: center;
	align-items: center;
}

.vod video {
	width: 100%;
	height: 100%;
}

#plot {
	padding: 20px;
	font-size: 18px;
	word-break: keep-all;
}

#item-title {
	width: 120px;
	height: 42px;
	font-size: 28px;
	background-color: #ffc700;
	color: black;
}

.table-head {
	margin-bottom: 20px;
}

.col1 {
	flex-grow: 4;
}

.col2 {
	flex-grow: 1;
	flex-shrink: 0;
}

.body-item {
	border-bottom: 2px solid #e9e9e9;
	height: 38px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.body-item:hover {
	transition: all;
	transition-duration: 100ms;
	transition-timing-function: ease-in-out;

	transform: scale(101%);
}

.body-col1 {
	justify-content: start;
	align-items: start;
	padding-left: 20px;
}

.nodata {
	color: #898989;
}

#onelinecritic-form {
	display: flex;
	flex-direction: row;
	margin-top: 60px;
	padding-top: 20px;
	border-top: 2px solid #898989;
}

#onelinecritic-list {
	margin-top: 10px;
	padding: 20px;
	width: 100%;
	max-height: 1000px;
	overflow-y: auto;
}

.onelinecritic {
	min-height: 40px;
	display: flex;
	flex-direction: column;
	gap: 6px;
	justify-content: start;
	align-items: center;
}

.onelinecritic-item {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: row;
}

.onelinecritic-user {
	width: 100px;
	flex-shrink: 0;
	height: 32px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: bold;
	background-color: #ffefb5;
	margin-right: 20px;
}

.onelinecritic-content {
	height: 32px;
	display: flex;
	justify-content: start;
	align-items: center;
	flex-grow: 1;
	border-bottom: 2px solid #898989;
}

.onelinecritic-starpoint {
	width: 130px;
	flex-shrink: 0;
}

.starpoint-ul,
.starpoint-ul-edit {
	list-style: none;
	padding: 0;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.starpoint-ul li,
.starpoint-ul-edit li {
	display: inline-block;
	margin-right: 5px;
}

.starpoint-ul input[type="radio"],
.starpoint-ul-edit input[type="radio"] {
	display: none;
}

.starpoint-ul label,
.starpoint-ul-edit label {
	font-size: 24px; /* 별표 크기 조절 */
	color: #ffefb5; /* 선택되지 않은 별표 색상 */
	cursor: pointer;
}

#author-menu {
	width: 100%;
	height: 32px;
	display: flex;
	flex-direction: row;
	justify-content: end;
	align-items: start;
	margin-bottom: 10px;
}

#author-menu .btn {
	font-size: 12px;
	width: 36px;
	height: 20px;
}

#edit {
	background-color: #5bb98d;
}

#delete {
	background-color: #d35850;
}

#author-menu .menu {
	width: 100px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}
#edit-area {
	width: 100%;
	height: 36px;
	box-sizing: border-box;
	display: flex;
	justify-content: end;
	align-items: end;
	margin-bottom: 20px;
}

#onelinecritic-editform {
	width: 100%;
	height: 48px;
	display: flex;
	justify-content: end;
	align-items: start;
	border-bottom: 2px solid #e9e9e9	;
}

#onelinecritic-editform input {
	height: 26px;
}

#onelinecritic-editform .btn {
	width: 64px;
}

#onelinecritic-editform #search {
	width: 500px;
}

.lww-area {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: end;
	gap: 10px;
}

#like,
#watched,
#watchlist {
	display: flex;
	width: 70px;
	height: 32px;
	font-size: 12px;
}

#like {
	background-color: #ff8b83;
}
#watched {
	background-color: #5f89ff;
}
#watchlist {
	background-color: #e7aaff;
}
